body {
    background-color: #d7d7d7;
    font-size: 12pt;
    font-family: Tahoma, serif;
    color: #000618;
    text-shadow: 0 0 8px #d9d9d9;
}

div.akcii img {
    box-shadow: 0 0 8px #858585;
}

div.content {
    background-color: rgb(254, 248, 233);
    width: 900px;
    margin: 0 auto;
    min-height: 900px;
    box-shadow: 0 0 15px #858585;
}

div.header {
    background-color: #fef6d7;
}

div.header img {
    width: 500px;
    margin: 0px 200px 0px 200px;
}

div.menu {
    background-color: #eae1c6;
    padding: 10px;
    border-bottom: solid 2px #d0c1af;
    border-top: solid 2px #cfbfae;
    text-align: center;
    box-shadow: 0 0 8px #939393;
}

div.footer {
    background-color: #e1d8be;
    height: 135px;
    text-align: center;
    padding-top: 5px;
    border-top: solid 2px #d0c0af;
    box-shadow: 0 0 8px #939393;
}

div.footer p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;


}