div.table {
    width: 860px;
    margin: 0 auto;
    box-shadow: 0 0 8px #939393;
}

div.table tr:nth-child(odd)  {
    background-color: rgb(227, 222, 208);
}

h2 {
    text-align: center;
}

.akcii {
    background-color: rgb(227, 222, 208);
    height: 190px;
    padding: 20px;
    margin: 20px;
    transition: 600ms;
    box-shadow: 0 0 8px #939393;
}

div.content div.akcii:hover {
    background-color: rgb(212, 207, 194);
    transition: 300ms;
}

h3 {
    margin-top: 0;
}

.akcii img {
    margin: 0px 20px 0px 0px;
    width: 150px;
}

div.page-content  div.akcii  div:nth-child(1) {
    float: left;
    width: 150px;
}

div.page-content  div.akcii  div:nth-child(2) {
    float: left;


}



